<!DOCTYPE HTML>

<html>
<head>
<title>Prospict</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="description" content="Prospict is a Web Design and Development firm based in Dallas, Tx and San Francisco, CA. Prospict develops responsive websites and apps to small, mid, and enterprise companies." >
<link rel="stylesheet" href="stylesheets/main.css" />
<link rel="icon" type="image/png" href="images/prospict.png">
<noscript><link rel="stylesheet" href="stylesheets/noscript.css" /></noscript>
</head>
<body class="is-loading">

<!-- Wrapper -->
<div id="wrapper">


<!-- Header -->
<header id="header">
<a href="/index" class="logo">Prospict</a>
</header>

<!-- Nav -->
<nav id="nav">
<ul class="links">
<li><a href="/index">Web Dev</a></li>
<li class="active"><a href="/digital">Digital</a></li>
<li><a href="/data">Data</a></li>
<li><a href="/work">Our Work</a></li>
<li><a href="/about">About Us</a></li>
</ul>
<ul class="icons">
<li><a href="https://www.instagram.com/prospict/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
<li><a href="mailto:nelson@prospict.com?Subject=Hello!" class="icon alt fa-envelope"><span class="label"></span></a></li>
</ul>
</nav>

<!-- Main -->
<div id="main">

<!-- Post -->
<article class="post featured">
<header class="major">
<h1>Digital Marketing</h1>

</header>
<a href="#" class="image main"><img src="images/pic03.jpg" alt="" /></a>
<ul class="actions">
<li><a href="/about" class="button big">Full Service</a></li>
</ul>
</article>

<!-- Posts -->
<section class="posts">
<article>
<header>
<span class="date">Good Read</span>
<h2><a href="http://fortune.com/2017/07/18/marketing-four-forces/">Four Forces<br />
Revolutionizing Marketing </a></h2>
</header>
<a href="http://fortune.com/2017/07/18/marketing-four-forces/" class="image fit"><img src="images/pic22.png" alt="" /></a>

<ul class="actions">
<li><a href="http://fortune.com/2017/07/18/marketing-four-forces/" class="button">Full Story</a></li>
</ul>
</article>
<article>
<header>
<span class="date">Good Read</span>
<h2><a href="https://www.forbes.com/sites/theyec/2017/07/20/a-marketing-technology-cheat-sheet-for-business-owners/#72432e714bfd">Marketing Technology<br />
Cheat Sheet</a></h2>
</header>
<a href="https://www.forbes.com/sites/theyec/2017/07/20/a-marketing-technology-cheat-sheet-for-business-owners/#72432e714bfd" class="image fit"><img src="images/pic23.png" alt="" /></a>

<ul class="actions">
<li><a href="https://www.forbes.com/sites/theyec/2017/07/20/a-marketing-technology-cheat-sheet-for-business-owners/#72432e714bfd" class="button">Full Story</a></li>
</ul>
</article>
<article>
<header>
<span class="date">Good Read</span>
<h2><a href="http://www.adweek.com/digital/amit-avner-taykey-guest-post-social-data/">Making Marketing<br />
More Transparent</a></h2>
</header>
<a href="http://www.adweek.com/digital/amit-avner-taykey-guest-post-social-data/" class="image fit"><img src="images/pic24.png" alt="" /></a>

<ul class="actions">
<li><a href="http://www.adweek.com/digital/amit-avner-taykey-guest-post-social-data/" class="button">Full Story</a></li>
</ul>
</article>
<article>
<header>
<span class="date">Good Read</span>
<h2><a href="https://www.entrepreneur.com/article/297435">Ways to Leverage<br />
Marketing Trends</a></h2>
</header>
<a href="https://www.entrepreneur.com/article/297435" class="image fit"><img src="images/pic25.png" alt="" /></a>

<ul class="actions">
<li><a href="https://www.entrepreneur.com/article/297435" class="button">Full Story</a></li>
</ul>
</article>
<article>
<header>
<span class="date">Good Read</span>
<h2><a href="https://www.inc.com/laurel-mintz/the-difference-between-marketing-and-advertising-a.html">Differences Between<br />
Marketing & Advertising</a></h2>
</header>
<a href="https://www.inc.com/laurel-mintz/the-difference-between-marketing-and-advertising-a.html" class="image fit"><img src="images/pic26.png" alt="" /></a>

<ul class="actions">
<li><a href="https://www.inc.com/laurel-mintz/the-difference-between-marketing-and-advertising-a.html" class="button">Full Story</a></li>
</ul>
</article>
<article>
<header>
<span class="date">Good Read</span>
<h2><a href="https://www.forbes.com/sites/deeppatel/2017/07/19/10-tips-for-marketing-to-gen-z-on-instagram/#5ab5a2a92140">Marketing Tips<br />
For Gen Z Instagram</a></h2>
</header>
<a href="https://www.forbes.com/sites/deeppatel/2017/07/19/10-tips-for-marketing-to-gen-z-on-instagram/#5ab5a2a92140" class="image fit"><img src="images/pic27.png" alt="" /></a>

<ul class="actions">
<li><a href="https://www.forbes.com/sites/deeppatel/2017/07/19/10-tips-for-marketing-to-gen-z-on-instagram/#5ab5a2a92140" class="button">Full Story</a></li>
</ul>
</article>
</section>

<!-- Footer -->
<footer>
<div class="pagination">
<a href="/" class="previous">Prev</a>

<span class="extra">&hellip;</span>

<a href="/data" class="next">Next</a>
</div>
</footer>


</div>

<!-- Footer -->
<footer id="footer">

</footer>

<!-- Copyright -->
<div id="copyright">
<ul><li>&copy; Prospict</li></ul>
</div>
</div>

<!-- Scripts -->
<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/jquery.scrollex.min.js"></script>
<script src="javascripts/jquery.scrolly.min.js"></script>
<script src="javascripts/js/skel.min.js"></script>
<script src="javascripts/js/util.js"></script>
<script src="javascripts/js/main.js"></script>

</body>
</html>
