<!DOCTYPE HTML>

<html>
<head>
<title>Prospict</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="description" content="Prospict is a Web Design and Development firm based in Dallas, Tx and San Francisco, CA. Prospict develops responsive websites and apps to small, mid, and enterprise companies." >
<link rel="stylesheet" href="stylesheets/main.css" />
<noscript><link rel="stylesheet" href="stylesheets/noscript.css" /></noscript>
<link href="stylesheets/style.css" rel="stylesheet">
<link rel="icon" type="image/png" href="images/prospict.png">
<script src="javascripts/jquery-2.1.1.js"></script>
<script src="javascripts/animated-headline.js"></script>
<script src="javascripts/isotope.pkgd.min.js"></script>
</head>
<body class="is-loading">

<!-- Wrapper -->
<div id="wrapper" class="fade-in">

<!-- Intro -->
<div id="intro">
<div class="container-fluid">
<section class="box-intro">
<div class="table-cell">
<h1 class="box-headline letters rotate-2">
<span class="box-words-wrapper">
		<b class="is-visible">Web Dev</b>
		<b class="is-visible">Digital</b>
		<b class="is-visible">Data</b>
</span>
</h1>
</div>
</section>
</div>


<ul class="actions">
<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
</ul>
</div>

<!-- Header -->
<header id="header">
<a href="/about" class="logo">Prospict</a>
</header>

<!-- Nav -->
<nav id="nav">
<ul class="links">
<li class="active"><a href="/">Web Dev</a></li>
<li><a href="/digital">Digital</a></li>
<li><a href="/data">Data</a></li>
<li><a href="/work">Our Work</a></li>
<li><a href="/about">About Us</a></li>
</ul>
<ul class="icons">
<li><a href="https://www.instagram.com/prospict/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
<li><a href="mailto:nelson@prospict.com?Subject=Hello!" class="icon alt fa-envelope"><span class="label"></span></a></li>
</ul>
</nav>

<!-- Main -->
<div id="main">

<!-- Featured Post -->
<article class="post featured">
<header class="major">
<h2>We Design <br>
<br>
Build Websites</h2>
</header>
<a href="#" class="image main"><img src="images/pic01.jpg" alt="" /></a>
<ul class="actions">
<li><a href="/about" class="button big">About Us</a></li>
</ul>
</article>

<!-- Posts -->
<section class="posts">
<article>
<header>
<span class="date">Good Read</span>
<h2><a href="http://www.boredpanda.com/microsoft-paint-ebook-illustrations-camp-redblood-pat-hines/">Guy Spends 10 Years<br />
Mastering Microsoft Paint </a></h2>
</header>
<a href="http://www.boredpanda.com/microsoft-paint-ebook-illustrations-camp-redblood-pat-hines/" class="image fit"><img src="images/pic10.png" alt="" /></a>

<ul class="actions">
<li><a href="http://www.boredpanda.com/microsoft-paint-ebook-illustrations-camp-redblood-pat-hines/" class="button">Full Story</a></li>
</ul>
</article>
<article>
<header>
<span class="date">Good Read</span>
<h2><a href="https://hackernoon.com/the-advantages-of-building-your-website-from-scratch-da5748a1baaf">Building Your Site<br />
From Scratch</a></h2>
</header>
<a href="https://hackernoon.com/the-advantages-of-building-your-website-from-scratch-da5748a1baaf" class="image fit"><img src="images/pic11.png" alt="" /></a>

<ul class="actions">
<li><a href="https://hackernoon.com/the-advantages-of-building-your-website-from-scratch-da5748a1baaf" class="button">Full Story</a></li>
</ul>
</article>
<article>
<header>
<span class="date">Good Read</span>
<h2><a href="https://techcrunch.com/2016/11/03/why-a-design-mindset-matters/">Why A Design<br />
Mindset Matters</a></h2>
</header>
<a href="https://techcrunch.com/2016/11/03/why-a-design-mindset-matters/" class="image fit"><img src="images/pic12.png" alt="" /></a>

<ul class="actions">
<li><a href="https://techcrunch.com/2016/11/03/why-a-design-mindset-matters/" class="button">Full Story</a></li>
</ul>
</article>
<article>
<header>
<span class="date">Good Read</span>
<h2><a href="https://arstechnica.com/information-technology/2017/07/lets-encrypt-to-start-offering-free-wildcard-certificates-for-https/">Encrypt All<br />
The Webpages</a></h2>
</header>
<a href="https://arstechnica.com/information-technology/2017/07/lets-encrypt-to-start-offering-free-wildcard-certificates-for-https/" class="image fit"><img src="images/pic13.png" alt="" /></a>

<ul class="actions">
<li><a href="https://arstechnica.com/information-technology/2017/07/lets-encrypt-to-start-offering-free-wildcard-certificates-for-https/" class="button">Full Story</a></li>
</ul>
</article>
<article>
<header>
<span class="date">Good Read</span>
<h2><a href="https://www.nytimes.com/2017/07/17/fashion/90s-web-design.html">Retro Web Design<br />
Inspired By The 90's</a></h2>
</header>
<a href="https://www.nytimes.com/2017/07/17/fashion/90s-web-design.html" class="image fit"><img src="images/pic14.png" alt="" /></a>

<ul class="actions">
<li><a href="https://www.nytimes.com/2017/07/17/fashion/90s-web-design.html" class="button">Full Story</a></li>
</ul>
</article>
<article>
<header>
<span class="date">Good Read</span>
<h2><a href="https://www.forbes.com/forbes/welcome/?toURL=https://www.forbes.com/sites/quora/2017/07/05/18-things-every-web-developer-should-try-at-least-once/&refURL=https://duckduckgo.com/&referrer=https://duckduckgo.com/">Every Web Developer<br />
Should Try These</a></h2>
</header>
<a href="https://www.forbes.com/forbes/welcome/?toURL=https://www.forbes.com/sites/quora/2017/07/05/18-things-every-web-developer-should-try-at-least-once/&refURL=https://duckduckgo.com/&referrer=https://duckduckgo.com/" class="image fit"><img src="images/pic15.png" alt="" /></a>

<ul class="actions">
<li><a href="https://www.forbes.com/forbes/welcome/?toURL=https://www.forbes.com/sites/quora/2017/07/05/18-things-every-web-developer-should-try-at-least-once/&refURL=https://duckduckgo.com/&referrer=https://duckduckgo.com/" class="button">Full Story</a></li>
</ul>
</article>
</section>

<!-- Footer -->
<footer>
<div class="pagination">
<a href="#" class="previous">Prev</a>

<span class="extra">&hellip;</span>

<a href="/digital" class="next">Next</a>
</div>
</footer>

</div>
<footer id="footer">

</footer>



<!-- Copyright -->
<div id="copyright">
<p>Based out of San Francisco & Dallas</p>
<ul><li>&copy; Prospict</li></ul>
</div>

</div>

<!-- Scripts -->
<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/jquery.scrollex.min.js"></script>
<script src="javascripts/jquery.scrolly.min.js"></script>
<script src="javascripts/skel.min.js"></script>
<script src="javascripts/util.js"></script>
<script src="javascripts/main.js"></script>

</body>
</html>
