<!DOCTYPE HTML>

<html>
<head>
<title>Prospict</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="description" content="Prospict is a Web Design and Development firm based in Dallas, Tx and San Francisco, CA. Prospict develops responsive websites and apps to small, mid, and enterprise companies." >
<link rel="icon" type="image/png" href="images/prospict.png">
<link rel="stylesheet" href="stylesheets/main.css" />
<noscript><link rel="stylesheet" href="stylesheets/noscript.css" /></noscript>
</head>
<body class="is-loading">

<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header">
<a href="index" class="logo">Prospict</a>
</header>

<!-- Nav -->
<nav id="nav">
<ul class="links">
<li><a href="index">Web Dev</a></li>
<li><a href="digital">Digital</a></li>
<li><a href="data">Data</a></li>
<li class="active"><a href="work.html">Our Work</a></li>
<li><a href="about">About Us</a></li>
</ul>
<ul class="icons">
<li><a href="https://www.instagram.com/prospict/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
<li><a href="mailto:nelson@prospict.com?Subject=Hello!" class="icon alt fa-envelope"><span class="label"></span></a></li>
</ul>
</nav>

<!-- Main -->
<div id="main">

<section class="post">
<header class="major">


</header>
<div class="image main"><img src="images/pic04.jpg" alt="" /></div>
</section>

<!-- Post -->
<section class="posts">
<article>
<header>
<span class="date">Full Development</span>
<h2><a href="http://www.simplylinenstx.com/">Simply Linens</a></h2>
</header>
<a href="http://www.simplylinenstx.com/" class="image fit"><img src="images/pic28.jpg" alt="" /></a>

</article>
<article>
<header>
<span class="date">Full Development</span>
<h2><a href="http://bitnami-wordpress-ba5c.cloudapp.net/">Output Health</a></h2>
</header>
<a href="http://bitnami-wordpress-ba5c.cloudapp.net/" class="image fit"><img src="images/pic30.jpg" alt="" /></a>


</article>
<article>
<header>
<span class="date">Frontend Development</span>
<h2><a href="http://albion.com.s3-website-us-west-2.amazonaws.com/">Albion Environmental</a></h2>
</header>
<a href="#" class="image fit"><img src="images/pic29.jpg" alt="" /></a>


</article>
<article>
<header>
<span class="date">Full Development</span>
<h2><a href="http://www.lonecraft.com/">Lonecraft</a></h2>
</header>
<a href="http://www.lonecraft.com/" class="image fit"><img src="images/pic31.jpg" alt="" /></a>

</article>
<article>
<header>
<span class="date">Full Development</span>
<h2><a href="#">Owl's Nest Hostel</a></h2>
</header>
<a href="#" class="image fit"><img src="images/pic32.jpg" alt="" /></a>

</article>
<article>
<header>
<span class="date">Full Development</span>
<h2><a href="#">Abilene Learning Academy</a></h2>
</header>
<a href="#" class="image fit"><img src="images/pic33.jpg" alt="" /></a>

</article>
</section>
<footer>
<div class="pagination">
<a href="index.html" class="previous">Prev</a>

<span class="extra">&hellip;</span>

<a href="data.html" class="next">Next</a>
</div>
</footer>


</div>

<!-- Footer -->
<footer id="footer">

</footer>

<!-- Copyright -->
<div id="copyright">
<ul><li>&copy; Prospict</li></ul>

</div>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>
